In [1]:
# packages
import os
import math
import torch
import random
import pickle
import pandas
import calendar
import numpy as np
import matplotlib.pyplot as plt
from torch.utils.data import TensorDataset, DataLoader
os.environ['KMP_DUPLICATE_LIB_OK']='True'
torch.set_default_tensor_type(torch.FloatTensor)

In [2]:
x = pandas.read_csv("inv_RTwithRatio.csv")

In [4]:
X1 = []
for i in range(9999):
    
    f1 = x.iloc[i, :10]
    F = [float(f) for f in f1.to_numpy()]
    X1.append(F)
X= torch.tensor(X1)
X.shape

torch.Size([9999, 10])

In [5]:
x

,0.000000,1.000000,2.000000,3.000000,4.000000,5.000000,6.000000,7.000000
0,10.0,5.0,10000.0,8000.0,10000.0,0.000200,0.000010,0.625000
1,255.0,128.0,255000.0,204000.0,255000.0,0.000500,0.000040,0.627451
2,378.0,66.0,132000.0,106000.0,378000.0,0.000650,0.000025,0.217430
3,316.0,36.0,439000.0,253000.0,316000.0,0.000725,0.000018,0.197678
4,469.0,20.0,347000.0,82000.0,163000.0,0.000538,0.000021,0.180457
...,...,...,...,...,...,...,...,...
9994,267.0,70.0,483000.0,378000.0,55000.0,0.000714,0.000019,0.334998
9995,385.0,45.0,364000.0,234000.0,97000.0,0.000681,0.000061,0.181818
9996,202.0,14.0,181000.0,87000.0,281000.0,0.000306,0.000069,0.144190
9997,447.0,137.0,426000.0,283000.0,36000.0,0.000606,0.000039,0.461356
9998,243.0,54.0,265000.0,110000.0,99000.0,0.000797,0.000027,0.535354

In [5]:
y = pandas.read_csv("inv_eta.csv")
y.shape

(9999, 4)

In [6]:
Y1 = []
for i in range(9999):
    
    f1 = y.iloc[i, :]
    F = [float(f) for f in f1.to_numpy()]
    Y1.append(F)
Y= torch.tensor(Y1)
Y.shape

torch.Size([9999, 4])

In [7]:
y

      0.000000  1.000000  2.000000   3.000000
0    -0.070135  0.934719  0.493030   3.763253
1     0.056228  1.055606  0.115804  16.105862
2     0.360907  1.355533 -0.998614  28.766135
3     0.437950  1.428613 -1.390220  37.443204
4     0.523743  1.527622 -1.765940  22.207510
...        ...       ...       ...        ...
9994  0.250936  1.251082 -0.576940  11.408163
9995  0.402152  1.397373 -1.169310   9.215962
9996  0.470750  1.464311 -1.470249  10.628043
9997  0.166992  1.165653 -0.395860   7.151212
9998  0.297415  1.297590 -1.051905  17.182883

[9999 rows x 4 columns]

In [7]:

a = {'X': X, 'Y': Y}
with open('invWithoutR1234_dataset.txt', 'wb') as file:
    pickle.dump(a, file)
with open('invWithoutR1234_dataset.txt', 'rb') as file2:
    b = pickle.load(file2)
YY = b['Y']
YY.shape

torch.Size([9999, 4])

In [8]:
XX = b['X']
XX.shape

torch.Size([9999, 10])